# Dependencies
node_modules/
.claude/

# Rust
/target/
/dist/

# Lockfiles / logs
*.lock
*.log
# pnpm-lock.yaml # as you need to commit this file for reproducible builds
# pnpm-workspace.yaml # as you need to commit this file for reproducible builds

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Test snapshots
*.snap.new

# Local
.DS_Store
Thumbs.db
*.local
*.log*